<table>
  <tr>
    <th><%= "eMail" %></th>
    <th id="action" colspan="1">Actions</th>
  </tr>

  <tr>
    <td><%= @mailbox.username %></td>
    <td id="action"><%= link_to "Edit", edit_mailbox_path(@mailbox) %></td>
  </tr>

</table>
